<ul class="dropdown-menu">
	<% @websites.each_with_index do |website, index| %>
		<li data-target="#this-carousel-id" data-slide-to=<%= index %>>
			<a href="#"><%= website.name %></a>
		</li>
	<% end %>
</ul>