<% @websites.each do |website| %>
	<div style="width: 335px; height: 230px; float:left">
		 <%= link_to (image_tag "spotHunt.jpg", :style => 'height: 210px; width: 320px;'), root_path(:website => website.name) %>
	</div>
<% end %>
<div style='float:left'>
<%= will_paginate @websites %>
</div>

