<strong><%= comment.commenter %></strong><br>
<p>
	<%= comment.body %><br>
	<small>Posted on: <%= comment.created_at.strftime("%e %b %Y")%></small>
</p>

<% if current_user && (current_user.has_role? :admin) %>
		<p>
		  <%= link_to 'Destroy Comment', [comment.post, comment],
		               :confirm => 'Are you sure?',
		               :method => :delete %>
		</p>
<% end %>
<br>