<p>
  <b>Commenter:</b>
  <%= comment.commenter %>
</p>
 
<p>
  <b>Comment:</b>
  <%= comment.body %>
</p>

<% if current_user && (current_user.has_role? :admin) %>
		<p>
		  <%= link_to 'Destroy Comment', [comment.post, comment],
		               :confirm => 'Are you sure?',
		               :method => :delete %>
		</p>
<% end %>