<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Form submitted</h1>
    <p>Details below: </p>
    <p>
        <strong>Name: </strong> <br>
        <strong>Email: </strong> <%= @enquirer.email %><br>
        <strong>Phone: </strong> <%= @enquirer.phone %><br>
        <strong>Message: </strong> <%= @enquirer.message %><br>
    </p>
  </body>
</html>