<% @works.each do |work| %>
	<div style="width: 275px; height: 190px; float:left;">
		 <%= link_to (image_tag "spotHunt.jpg", :style => 'height: 150px; width: 240px; padding-left: 50px'), works_path(:work => work.name) %>
	</div>
<% end %>