

<% @posts.each do |post| %>
	<% if post.published? %>
	    <h4><%= post.title %></h4>
	    <small><%= post.created_at.strftime("%e %b %Y")%></small>
	    <p><%= post.body.html_safe %></p>
	    <br>
    <% end %>
<% end %>
