<div class="myContainer">
  <div class="row-fluid">
    <div class="span10 offset1" style='padding-right:20px;'>
      <div id="this-carousel-id" class="carousel slide">
<!--         <ol class="carousel-indicators">
          <li data-target="#this-carousel-id" data-slide-to="0" class="active"></li>
          <li data-target="#this-carousel-id" data-slide-to="1"></li>
          <li data-target="#this-carousel-id" data-slide-to="2"></li>
          <li data-target="#this-carousel-id" data-slide-to="3"></li>   
        </ol> -->
        <div class="carousel-inner">
          <div class="item active">
            <iframe src="http://player.vimeo.com/video/55004756" width="800" height="450"frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen   style='border: 7px solid black; border-radius:15px; background-color:black'></iframe>
            <!--<iframe src="http://player.vimeo.com/video/55004756" width="768" height="432" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>-->
          </div>
          <div class="item">
            <iframe src="http://player.vimeo.com/video/59902606" width="800" height="450"frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen   style='border: 7px solid black; border-radius:15px'></iframe>
          </div>
          <div class="item">
            <iframe src="http://player.vimeo.com/video/64792461" width="800" height="450"frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen   style='border: 7px solid black; border-radius:15px'></iframe>
          </div>
          <div class="item">
            <iframe src="http://player.vimeo.com/video/64790284" width="800" height="450"frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen   style='border: 7px solid black; border-radius:15px'></iframe>
          </div>
        </div>
        <a class="carousel-control left" href="#this-carousel-id" data-slide="prev">&lsaquo;</a>
        <a class="carousel-control right" href="#this-carousel-id" data-slide="next">&rsaquo;</a>
      </div>
    </div>
  </div>
</div>