<!-- <h4>Brief</h4>
<p>Hi I'm Phill, I grew up on the north shore of Sydney. I have an interest in travelling, IT, running, swimming, dining out, languages, cultures, film and music</p>

<h4>3D:</h4>
<p>My favourite 3D and VFX tools are Houdini, Maya and Nuke. Houdini is possibly my favourite as I love the level of control it offers without adding too much complexity. I also enjoy procedural animation cos i guess Im just lazy like that.. :)</p>

<h4>Web Development:</h4>
<p>Hard for 3d graduates so moved into web dev with my little knowledgr of python and started to learn Ruby and ROR</p> -->
