<h4>Brief</h4>
<p>Hi I'm Phill, I grew up on the north shore of Sydney. I have an interest in travelling, IT, running, swimming, dining out, languages, cultures, film and music.</p>

<h4>3D:</h4>
<p>My favourite 3D and VFX tools are Houdini, Maya and Nuke. Houdini is possibly my favourite as I love the level of control it offers without adding too much complexity and I prefer it's procedural nature in modelling and animation to more traditional methods.</p>

<h4>Web Development:</h4>
<p>After picking up a bit of Python working with tool in 3D Software I went down the road of Web Development and stumbled across Ruby and the Ruby on Rails framework. Ever since then I've been using that to develop my websites.</p>
<p>This websites acts as my personal site to show off anything I've done and I'll soon be adding stuff to the blog on the front page. The site was built in Rails and Twitter Bootstrap. The background texture was made using nodebox. A tutorial can be found <a href='http://nodebox.net/node/documentation/concepts/subnetworks.html' target='_blank'>here</a>.</p>
