    <h4>Education</h4>
		<div class="row-fluid">
			<div class="span1">
			</div>
			<div class="span7">
	    		<table class="table">
					<tbody>
			    		<tr>
			    			<td>B. Arts &amp; Science (Digital Cultures)</td><td><a href="http://sydney.edu.au" target="_blank">University of Sydney</a></td><td>2006-2010</td>
			    		</tr>
			    		<tr>
			    			<td>Adv. Diploma of Screen &amp; Media</td><td><a href="http://www.aie.edu.au/" target="_blank">Academy of Interactive Entertainment</a></td><td>2011-2012</td>
			    		</tr>
			    		<tr>
			    			<td><a href="http://www.sydneydevcamp.com" target="_blank">Sydney Dev Camp</a></td><td></td><td>2013</td>
			    		</tr>
			    	</tbody>
	    		</table>
			</div>
			<div class="span4">
			</div>
		</div>