<h4>Experience</h4>
<div class="row-fluid">
	<div class="span1">
	</div>
	<div class="span7">
    	<table class="table">
			<tbody>
	    		<tr>
	    			<td>Layout &amp; Previz (Internship)</td><td>Onyx Studio, Luxembourg</td><td>2009</td>
	    		</tr>
	    	</tbody>
    	</table>
	</div>
	<div class="span4">
	</div>
</div>