
<div id="myModal-Python" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<button type="button" class ="close" data-dismiss="modal" href="#myModal-Nuke" data-toggle="modal">></button>
		<h3 id="myModalLabel">PYTHON</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>Roughly &frac12; Years Experience</li>
				<li>Experience using python to develop tools in 3D software</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Ruby" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<button type="button" class ="close" data-dismiss="modal" href="#myModal-Houdini" data-toggle="modal">></button>
		<button type="button" class ="close" data-dismiss="modal" href="#myModal-Maya" data-toggle="modal"><</button>
		<h3 id="myModalLabel">RUBY</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>Roughly &frac12; Years Experience</li>
				<li>Intensively learnt ruby and rails for 10 weeks for web development</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Ruby_on_Rails" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">RUBY ON RAILS</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>Roughly &frac12; Years Experience</li>
				<li>Intensively learnt ruby and rails for 10 weeks for web development</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Django" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">DJANGO</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>Some beginner experience making a Django App and MVC</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Processing" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">PROCESSING</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>I've mostly just played around with creating shapes and repeating patterns in processing. As well as using it's javascript converter to make web images</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Javascript" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">JAVASCRIPT (&amp; jQUERY)</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li><strong>Some experience with the following</strong></li>
				<li>jQuery</li>
				<li>Processing.js</li>
				<li>Three.js</li>
				<li>D3.js</li>
				<li>Paper.js</li>
				<li>Raphael.js</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-HTML_CSS" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">HTML &amp; CSS</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>I've developed and designed some websites which can be seen in my websites tab</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

