<div id="myModal-Nodebox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">NODEBOX</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>Procedural Design and Animations</li>
				<li>Learn more about Nodebox <em><a href="http://nodebox.net/" target="_blank">here</a></em></li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Inkscape" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">INKSCAPE</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>Vector illustrations</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>