
<div id="myModal-Python" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<button type="button" class ="close" data-dismiss="modal" href="#myModal-Nuke" data-toggle="modal">></button>
		<h3 id="myModalLabel">PYTHON</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li></li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Ruby" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<button type="button" class ="close" data-dismiss="modal" href="#myModal-Houdini" data-toggle="modal">></button>
		<button type="button" class ="close" data-dismiss="modal" href="#myModal-Maya" data-toggle="modal"><</button>
		<h3 id="myModalLabel">RUBY</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li></li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Ruby_on_Rails" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">RUBY ON RAILS</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li></li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Django" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">DJANGO</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li></li>
				<li></li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Processing" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">PROCESSING</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li></li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Javascript" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">JAVASCRIPT</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>jQuery</li>
				<li>Processing.js</li>
				<li>Three.js</li>
				<li>D3.js</li>
				<li>Paper.js</li>
				<li>Raphael.js</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-jQuery" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">jQUERY</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li></li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-HTML_CSS" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">HTML &amp; CSS</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li></li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

