<div id="myModal-Mental_Ray" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">MENTAL RAY</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>1+ Years Experience</li>
				<li>Lighting and Rendering in Maya</li>
				<li>Used MR maya materials</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Mantra" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">MANTRA</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>1+ Years Experience</li>
				<li>Used Mantra and Mantra PBR</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Renderman_for_Maya" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">RENDERMAN FOR MAYA</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>1+ Years Experience</li>
				<li>Short 2 min film done using Renderman for Maya</li>
				<li>Use of SSS</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-3Delight" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">3DELIGHT</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>I've been starting to learn using 3Delight with what I know of Renderman</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>

<div id="myModal-Vray" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">VRAY</h3>
	</div>
	<div class="modal-body">
		<p>
			<ul>
				<li>Architectural Rendering</li>
			</ul>
		</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
	</div>
</div>