<!-- Modals -->
		<div id="myModal-Maya" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<button type="button" class ="close" data-dismiss="modal" href="#myModal-Nuke" data-toggle="modal">></button>
				<h3 id="myModalLabel">MAYA</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>2 Years Experience</li>
						<li>Lighting: (links to my work in lighting) etc</li>
						<li>Rendering: Arnold, Mentral Ray, Renderman for Maya</li>
						<a href="#home" data-dismiss="modal" data-toggle="tab" class="tab-pane active">My 3D Showreel</a>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

		<div id="myModal-Nuke" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<button type="button" class ="close" data-dismiss="modal" href="#myModal-Houdini" data-toggle="modal">></button>
				<button type="button" class ="close" data-dismiss="modal" href="#myModal-Maya" data-toggle="modal"><</button>
				<h3 id="myModalLabel">NUKE</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>2+ Years Experience</li>
						<li>Compisiting, Colour Grading, Matchmoving, Tracking, Roto/Paint</li>
						<li>Python</li>
						<a href="#home" data-dismiss="modal" data-toggle="tab" class="tab-pane active">My 3D Showreel</a>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

		<div id="myModal-Houdini" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">HOUDINI</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>2+ Years Experience</li>
						<li>Procedural Modelling and Animation, Dynamics, Rendering</li>
						<li>SHOPS, POPS, DOPS, COPS, CHOPS</li>
						<li>Rendering: Mantra</li>
						<a href="#home" data-dismiss="modal" data-toggle="tab" class="tab-pane active">My 3D Showreel</a>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

		<div id="myModal-Realflow" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">REALFLOW</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>1+ Years Experience</li>
						<li>Liquid and splash simulations</li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

		<div id="myModal-3DSMax" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">3DSMAX</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>Modelling and Rendering</li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

		<div id="myModal-Blender" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">BLENDER</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>Just starting to learn blender</li>
						<li>python</li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

		<div id="myModal-Photoshop" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">PHOTOSHOP</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>Image manipulations</li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

		<div id="myModal-After_Effects" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">AFTER EFFECTS</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>VFX</li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

		<div id="myModal-Premiere" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">PREMIERE</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>Editing</li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>