		<div id="myModal-French" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">FRENCH</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>Studied for 1 year at Sydney Uni</li>
						<li>Conversational Speaking and better written</li>
						<li>Lived in France for 8 months and Luxembourg for 1 month</li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

		<div id="myModal-Italian" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">ITALIAN</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>Studied for 1 year at Sydney Uni</li>
						<li>Beginner speaking and written</li>
						<li>I love italian films</li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>