<h4>Skills &amp; Software</h4>
	<dt>VFX &amp; 3D</dt>
		<dd>
			<a class = "myModal" href="#myModal-Maya" role="button" class="btn-small" data-toggle="modal">Maya,</a>
			<a class = "myModal" href="#myModal-Nuke" role="button" class="btn-small" data-toggle="modal">Nuke,</a>
			<a class = "myModal" href="#myModal-Houdini" role="button" class="btn-small" data-toggle="modal">Houdini,</a>
			<a class = "myModal" href="#myModal-Realflow" role="button" class="btn-small" data-toggle="modal">Realflow,</a>
			<a class = "myModal" href="#myModal-Photoshop" role="button" class="btn-small" data-toggle="modal">Photoshop,</a>
			<a class = "myModal" href="#myModal-After_Effects" role="button" class="btn-small" data-toggle="modal">After Effects,</a>
			<a class = "myModal" href="#myModal-Premiere" role="button" class="btn-small" data-toggle="modal">Premiere</a>
		</dd>
	<dt>Renderers</dt>
		<dd>
			<a class = "myModal" href="#myModal-Mental_Ray" role="button" class="btn-small" data-toggle="modal">Mental Ray,</a>
			<a class = "myModal" href="#myModal-Mantra" role="button" class="btn-small" data-toggle="modal">Mantra,</a>
			<a class = "myModal" href="#myModal-Renderman_for_Maya" role="button" class="btn-small" data-toggle="modal">Renderman for Maya,</a>

		</dd>
	<dt>IT</dt>
		<dd>
			<a class = "myModal" href="#myModal-Ruby" role="button" class="btn-small" data-toggle="modal">Ruby,</a>
			<a class = "myModal" href="#myModal-Ruby_on_Rails" role="button" class="btn-small" data-toggle="modal">Ruby on Rails,</a>
			<a class = "myModal" href="#myModal-Python" role="button" class="btn-small" data-toggle="modal">Python,</a>
			<a class = "myModal" href="#myModal-Javascript" role="button" class="btn-small" data-toggle="modal">Javascript,</a>
			<a class = "myModal" href="#myModal-HTML_CSS" role="button" class="btn-small" data-toggle="modal">HTML &amp; CSS</a>
		</dd>
	<dt>Languages</dt>
   		<dd>
   			<a class = "myModal" href="#myModal-French" role="button" class="btn-small" data-toggle="modal">French,</a>
   			<a class = "myModal" href="#myModal-Italian" role="button" class="btn-small" data-toggle="modal">Italian</a>
   		</dd>
   	<dt>Misc.</dt>
		<dd>
			<a class = "myModal" href="#myModal-Nodebox" role="button" class="btn-small" data-toggle="modal">Nodebox</a>
		</dd>
		<br>
   		<h5>Still need to work on the following, some I'm at a beginner level.. others I just haven't had time to use for a while.</h5>
   		<dd>
			<a class = "myModal" href="#myModal-3DSMax" role="button" class="btn-small" data-toggle="modal">3DSMax,</a>
			<a class = "myModal" href="#myModal-Blender" role="button" class="btn-small" data-toggle="modal">Blender,</a>
			<a class = "myModal" href="#myModal-Vray" role="button" class="btn-small" data-toggle="modal">Vray</a>
			<a class = "myModal" href="#myModal-3Delight" role="button" class="btn-small" data-toggle="modal">3Delight,</a>
			<a class = "myModal" href="#myModal-Inkscape" role="button" class="btn-small" data-toggle="modal">Inkscape</a>
			<a class = "myModal" href="#myModal-Processing" role="button" class="btn-small" data-toggle="modal">Processing,</a>
			<a class = "myModal" href="#myModal-jQuery" role="button" class="btn-small" data-toggle="modal">jQuery,</a>
			<a class = "myModal" href="#myModal-Django" role="button" class="btn-small" data-toggle="modal">Django</a>
		</dd>


    <br> 
    <br> 
    <br> 
    <br> 