<table class="table">
	<tr>
		<th>Name</th>
		<th>Collaborators</th>
	</tr>
	<tr>
		<td><a href="http://mighty-shelf-9880.herokuapp.com/" target="_blank">Cheque-it-out</a></td>
		<td>Phillip Simmonds</td>
	</tr>
	<tr>
		<td><a href="http://mighty-shelf-9880.herokuapp.com/" target="_blank">Cheque-it-out</a></td>
		<td>Phillip Simmonds</td>
	</tr>
</table>