<table class="table">
	<tr>
		<th>Name</th>
		<th>Collaborators</th>
	</tr>
	<tr>
		<td><a href="http://spothunt.sydneydevcamp.com/" target="_blank">SpotHunt</a></td>
		<td>Phillip Simmonds, Eric Hercog</td>
	</tr>
	<tr>
		<td><a href="http://mighty-shelf-9880.herokuapp.com/" target="_blank">Cheque-it-out</a></td>
		<td>Phillip Simmonds</td>
	</tr>
	<tr>
		<td><a href="http://codetry.org/" target="_blank">Codetry</a></td>
		<td>Phillip Simmonds, David Evans, Eric Hercog, Jurgens Smit, Baron Bloomer, Sherwyn, Shalini</td>
	</tr>
	<tr>
		<td><a href="http://stark-eyrie-7187.herokuapp.com/" target="_blank">Exporting Sardinia</a></td>
		<td>Phillip Simmonds</td>
	</tr>
	<tr>
		<td><a href="http://mizzy.herokuapp.com/" target="_blank">Mizzy</a></td>
		<td>Phillip Simmonds, David Evans, Eric Hercog, Jurgens Smit</td>
	</tr>			
</table>