<dl class="dl-horizontal">
	<h4>About Me</h4>
		<p>Hi I'm Phill, I grew up on the north shore of Sydney. I have an interest in travelling, IT, running, swimming, dining out, languages, cultures, film and music</p>
	<h4>Skills</h4>
		<dt>VFX</dt>
			<dd>Maya, Nuke, Houdini, Realflow, 3DSMax, 
				After Effects, Premiere, Photoshop, Blender</dd>
		<dt>Renderers</dt>
			<dd>Mental Ray, 3Delight, Renderman for Maya, Mantra, Vray</dd>
		<dt>Misc.</dt>
			<dd>Nodebox, Inkscape</dd>
		<dt>Programming</dt>
			<dd>Python, Django, Ruby, Ruby on Rails, HTML, CSS, Javascript, jQuery, PHP, SQL, raphael.js, d3.js, processing, three.js, paper.js </dd>
		<dt>Languages</dt>
	   		<dd>French, Italian</dd>
	    <h4>Education</h4>
    	<div class="row-fluid">
    	<div class="span1">
    	</div>
    	<div class="span7">
	    	<table class="table">
				<tbody>
		    		<tr>
		    			<td>B. Arts &amp; Science (Digital Cultures)</td><td>University of Sydney</td><td>2006-2010</td>
		    		</tr>
		    		<tr>
		    			<td>Adv. Diploma of Screen &amp; Media</td><td>Academy of Interactive Entertainment</td><td>2011-2012</td>
		    		</tr>
		    		<tr>
		    			<td>Sydney Dev Camp</td><td></td><td>2013</td>
		    		</tr>
		    	</tbody>
	    	</table>
    	</div>
    	<div class="span4">
    	</div>
    	</div>
    <h4>Experience</h4>
    <ul>
    	<li>Internship (Layout &amp; Previz) - Onyx Studio, Luxembourg, 2009</li>
    </ul>
</dl>