<dl class="dl-horizontal">
	<!--<h4>About Me</h4>
		<p>Hi I'm Phill, I grew up on the north shore of Sydney. I have an interest in travelling, IT, running, swimming, dining out, languages, cultures, film and music</p>-->
	<h4>Skills &amp; Software</h4>
		<dt>VFX</dt>
			<dd>
				<a class = "myModal" href="#myModal-Maya" role="button" class="btn-small" data-toggle="modal">Maya,</a>
				<a class = "myModal" href="#myModal-Nuke" role="button" class="btn-small" data-toggle="modal">Nuke,</a>
				<a class = "myModal" href="#myModal-Houdini" role="button" class="btn-small" data-toggle="modal">Houdini,</a>
				<a class = "myModal" href="#myModal-Realflow" role="button" class="btn-small" data-toggle="modal">Realflow,</a>
				<a class = "myModal" href="#myModal-3DSMax" role="button" class="btn-small" data-toggle="modal">3DSMax,</a>
				<a class = "myModal" href="#myModal-Blender" role="button" class="btn-small" data-toggle="modal">Blender,</a>
				<a class = "myModal" href="#myModal-Photoshop" role="button" class="btn-small" data-toggle="modal">Photoshop,</a>
				<a class = "myModal" href="#myModal-After_Effects" role="button" class="btn-small" data-toggle="modal">After Effects,</a>
				<a class = "myModal" href="#myModal-Premiere" role="button" class="btn-small" data-toggle="modal">Premiere</a>
			</dd>
		<dt>Renderers</dt>
			<dd>
				<a class = "myModal" href="#myModal-Mental_Ray" role="button" class="btn-small" data-toggle="modal">Mental Ray,</a>
				<a class = "myModal" href="#myModal-Mantra" role="button" class="btn-small" data-toggle="modal">Mantra,</a>
				<a class = "myModal" href="#myModal-Renderman_for_Maya" role="button" class="btn-small" data-toggle="modal">Renderman for Maya,</a>
				<a class = "myModal" href="#myModal-3Delight" role="button" class="btn-small" data-toggle="modal">3Delight,</a>
				<a class = "myModal" href="#myModal-Vray" role="button" class="btn-small" data-toggle="modal">Vray</a>
			</dd>
		<dt>Misc.</dt>
			<dd>
				<a class = "myModal" href="#myModal-Nodebox" role="button" class="btn-small" data-toggle="modal">Nodebox,</a>
				<a class = "myModal" href="#myModal-Inkscape" role="button" class="btn-small" data-toggle="modal">Inkscape</a>
			</dd>
		<dt>Programming</dt>
			<dd>
				<a class = "myModal" href="#myModal-Python" role="button" class="btn-small" data-toggle="modal">Python,</a>
				<a class = "myModal" href="#myModal-Ruby" role="button" class="btn-small" data-toggle="modal">Ruby,</a>
				<a class = "myModal" href="#myModal-Ruby_on_Rails" role="button" class="btn-small" data-toggle="modal">Ruby on Rails,</a>
				<a class = "myModal" href="#myModal-Django" role="button" class="btn-small" data-toggle="modal">Django,</a>
				<a class = "myModal" href="#myModal-Processing" role="button" class="btn-small" data-toggle="modal">Processing,</a>
				<a class = "myModal" href="#myModal-Javascript" role="button" class="btn-small" data-toggle="modal">Javascript,</a>
				<a class = "myModal" href="#myModal-jQuery" role="button" class="btn-small" data-toggle="modal">jQuery,</a>
				<a class = "myModal" href="#myModal-HTML_CSS" role="button" class="btn-small" data-toggle="modal">HTML &amp; CSS</a>
			</dd>
		<dt>Languages</dt>
	   		<dd>
	   			<a class = "myModal" href="#myModal-French" role="button" class="btn-small" data-toggle="modal">French,</a>
	   			<a class = "myModal" href="#myModal-Italian" role="button" class="btn-small" data-toggle="modal">Italian</a>
	   		</dd>

    <h4>Education</h4>
		<div class="row-fluid">
			<div class="span1">
			</div>
			<div class="span7">
	    		<table class="table">
					<tbody>
			    		<tr>
			    			<td>B. Arts &amp; Science (Digital Cultures)</td><td><a href="http://sydney.edu.au" target="_blank">University of Sydney</a></td><td>2006-2010</td>
			    		</tr>
			    		<tr>
			    			<td>Adv. Diploma of Screen &amp; Media</td><td>Academy of Interactive Entertainment</td><td>2011-2012</td>
			    		</tr>
			    		<tr>
			    			<td><a href="http://www.sydneydevcamp.com" target="_blank">Sydney Dev Camp</a></td><td></td><td>2013</td>
			    		</tr>
			    	</tbody>
	    		</table>
			</div>
			<div class="span4">
			</div>
		</div>

	<h4>Experience</h4>
		<div class="row-fluid">
			<div class="span1">
			</div>
			<div class="span7">
		    	<table class="table">
					<tbody>
			    		<tr>
			    			<td>Layout &amp; Previz (Internship)</td><td>Onyx Studio, Luxembourg</td><td>2009</td>
			    		</tr>
			    	</tbody>
		    	</table>
			</div>
			<div class="span4">
			</div>
		</div>
</dl>



<%= render 'about/modals_vfx' %>

<%= render 'about/modals_languages' %>

<%= render 'about/modals_renderers' %>

<%= render 'about/modals_programming' %>



		<div id="myModal-Nodebox" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">NODEBOX</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>Procedural Design and Animations</li>
						<li>Learn more about Nodebox <em><a href="http://nodebox.net/" target="_blank">here</a></em></li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>

		<div id="myModal-Inkscape" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				<h3 id="myModalLabel">INKSCAPE</h3>
			</div>
			<div class="modal-body">
				<p>
					<ul>
						<li>Vector illustrations</li>
					</ul>
				</p>
			</div>
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
			</div>
		</div>