<h3>Contact Me</h3>
<ul>
	<li>Email: phillip.j.simmonds@gmail.com</li>
	<li>Phone: +61418277239</li>
	<li>Vimeo: <a href="vimeo.com/phillipsimmonds">Vimeo</a></li>
	<li>LinkedIn: </li>
	<li>Facebook: </li>
	<li>GitHub: </li>
</ul>

