<div class="row">
	<div class="span9">
<ul class="nav" style="padding-left:50px; color:white">
  <li>
  	<%= link_to 'Privacy Policy', privacy_path %>
  </li>
</ul>
</div>
		<div class="span3" id="footer-buttons">
			<ul  class="nav" style="padding-top:10px">
				<li>
					    <div class="item"> <!--Top Layer Buttons-->
					        <a href="http://www.facebook.com/pjsimmonds" class="social-btn facebook rounded" target="_blank"></a>
					        <a href="https://github.com/pjsim" class="social-btn github alt2 rounded" target="_blank"></a>
					        <!--<a href="#" class="social-btn gplus" target="_blank"></a> -->
					        <a href="http://au.linkedin.com/in/phillipsimmonds" class="social-btn linkedin rounded" target="_blank"></a>
					        <a href="mailto:phillip.j.simmonds@gmail.com" class="social-btn mail rounded" target="_blank"></a>
					        <!-- <a href="#" class="social-btn skype"></a> -->
					        <a href="http://vimeo.com/phillipsimmonds" class="social-btn vimeo rounded" target="_blank"></a>
					        <!--<a href="#" class="social-btn youtube"></a>-->
					    </div>
				</li>
		</ul>
		</div>
</div>

